In [2]:
import pandas as pd
import scipy.io

In [4]:
dataset = scipy.io.loadmat('../data/TLE_iridium.mat')['TLE_iridium']
norad_id = dataset[0][:]
inc = dataset[1][:]
raan = dataset[2][:]
ecc = dataset[3][:] 
argp = dataset[4][:]
nu = dataset[5][:]
a = dataset[6][:]

In [6]:
df = pd.DataFrame({'norad_id': norad_id.flatten(), 'inc': inc.flatten(), 'raan': raan.flatten(), 'ecc': ecc.flatten(), 'argp': argp.flatten(), 'nu': nu.flatten(), 'a': a.flatten()})

In [8]:
df.describe()

,norad_id,inc,raan,ecc,argp,nu,a
count,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,35647.650000,86.351231,269.184554,0.005048,179.517777,170.977803,7101.540295
std,1876.733585,0.076727,70.683035,0.005792,109.523756,112.984368,87.206590
min,24946.000000,85.938600,1.081200,0.000302,0.233100,2.005600,6675.093181
25%,34353.250000,86.326225,264.312000,0.001534,76.658075,63.506325,7065.442592
50%,35077.500000,86.364800,286.292700,0.002952,182.756500,166.820250,7106.385598
75%,36482.250000,86.390350,301.928325,0.006593,280.400075,278.936600,7148.164463
max,40998.000000,86.562600,359.122400,0.047968,358.978200,359.888500,7495.963286